/* App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #a19494;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.summary {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
}

.summary p {
  margin: 5px 0;
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-list ul {
  margin-bottom: 10px;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
  text-align: center;
  padding: 5px 5px 10px 5px;
}